<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.xtext.org/SoSModeling/ArchModeling/HSFDSL"
			class = "org.xtext.SoSModeling.ArchModeling.hSFDSL.HSFDSLPackage"
			genModel = "model/generated/HSFDSL.genmodel" />
	</extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SFDSL -->
      <package
            uri="http://www.xtext.org/SoSModeling/ArchModeling/HSFDSL"
            class="org.xtext.sosModeling.archModeling.hSFDSL.HSFDSLPackage"
            genModel="model/generated/SFDSL.genmodel"/>
   </extension>

</plugin>
